<slide
  order="{{order}}"
  x="0"
  y="{{order * 1200}}"
  scale="1"
  title="Writing a commit message">
  <div class="layout-1">
    <div class="layout-center">
      <pre>Short description in imperative - 70 columns max width ---------------

Long description ------- 80 chars wide -----------------------------------------
# Please enter the commit message for your changes. Lines starting
# with '#' will be ignored, and an empty message aborts the commit.
# On branch master
#
# Initial commit
#
# Changes to be committed:
#	new file:   README.md
#</pre>
    </div>
  </div>
</slide>
