#history {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  position: relative;

  #graph {
    min-width: 200px;
    width: 200px;
    height: 685px;
  }

  #commits {
    font-family: "Roboto Mono";
    font-size: 0.75em;

    .commit {
      margin: 0.5em 0;
      white-space: nowrap;
      height: 1.5em;

      &.disabled {
        color: #9E9E9E;
      }
    }
  }

  .label {
    font-weight: bold;
    white-space: nowrap;
  }
}

#spec {
  display: none;
}

button {
  background: #eee;
  border: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  padding: 0.25em 0.5em;
  border-radius: 2px;
  cursor: pointer;
}
