<slide
  order="{{order}}"
  x="0"
  y="{{order * 1200}}"
  scale="1"
  title="Configuring your identity">
  <div class="layout-2">
    <div class="layout-center-top">
      <pre>$ git config --global user.name "name"
$ git config --global user.email "email"
$ git config --global core.editor vim</pre>

      <div>
        Installed editors: <code>vim</code>, <code>emacs</code>, <code>nano</code>
      </div>
    </div>
    <div class="layout-center-bottom">
      <tty port="4123"></tty>
    </div>
  </div>
</slide>
