<slide
  order="{{order}}"
  x="0"
  y="{{order * 1200}}"
  scale="1"
  title="Add a readme to the repository">
  <div class="layout-1x1">
    <div class="layout-left">
      <ul>
        <li>Create your first file in the new git repository</li>
        <li>Stage the new file with <code>git add</code></li>
        <li>Commit that file with a commit message</li>
        <li>Enter a commit message in your text editor</li>
      </ul>
    </div>

    <div class="layout-right">
      <pre>$ cat > README.md
# Hello, world!
^C
$ git add README.md
$ git commit</pre>
    </div>
  </div>
</slide>
