<slide
  order="{{order}}"
  x="0"
  y="{{order * 1200}}"
  scale="1"
  title="Cloning an existing repository">
  <div class="layout-2">
    <div class="layout-center-top">
      <p>
        Cloning means receiving an identical copy of the remote repository
      </p>

      <pre>$ git clone https://github.com/octocat/Hello-World.git
$ git clone https://github.com/octocat/Hello-World.git -b test Hello-World-test</pre>
    </div>
    <div class="layout-center-bottom">
      <tty port="8000"></tty>
    </div>
  </div>
</slide>
