<slide
  order="1"
  scale="1"
  title="">
  <div class="layout-1x1">
    <div class="layout-left">
      <h1>Git Workshop</h1>
      <h3>
        Willy Failla
        <br>
        Martin Koppehel
        <br>
        Johann Wagner
        <br>
        Fin Christensen
      </h3>
    </div>

    <div class="layout-right" style="align-self: center;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Git-logo.svg">
    </div>
  </div>
</slide>

<slide
  order="2"
  scale="1"
  title="Why version control?">
  <div class="layout-2">
    <img class="layout-center-top" src="./assets/version-control.svg">
    <div class="layout-center-bottom">
      <ul>
        <li>Protects your sourcecode from loss or damage</li>
        <li>Enables collaborative and concurrent work</li>
        <li>Revert your sourcecode to a previous state</li>
      </ul>
    </div>
  </div>
</slide>

<slide
  order="3"
  scale="1"
  title="Why use git?">
  <div class="layout-1x1">
    <div class="layout-left">
      <ul>
        <li>Decentralized</li>
        <ul>
          <li>No central server</li>
          <li>Distributed development</li>
          <li>Perfect for open source projects</li>
        </ul>
        <li>Flexible</li>
        <ul>
          <li>Can implement almost any workflow</li>
          <li>Scales well for all project sizes</li>
        </ul>
      </ul>
    </div>
    <div class="layout-right" style="text-align: center;">
      <img height="600" src="assets/git_2x.png">
    </div>
  </div>
</slide>

<slide
  order="4"
  scale="1"
  title="Creating a new empty git repository">
  <div class="layout-1x1">
    <div class="layout-left">
      <div>
        Create a new repo in the current directory:
      </div>
      <pre>$ git init</pre>
    </div>
    <div class="layout-right">
      <tty></tty>
    </div>
  </div>
</slide>

<slide
  order="5"
  scale="1"
  title="Configuring your identity">
  <div class="layout-2">
    <div class="layout-center-top">
      <pre>$ git config --global user.name "name"
$ git config --global user.email "email"
$ git config --global core.editor vim</pre>

      <div>
        Installed editors: <code>vim</code>, <code>emacs</code>, <code>nano</code>
      </div>
    </div>
    <div class="layout-center-bottom">
      <tty></tty>
    </div>
  </div>
</slide>

<slide
  order="6"
  scale="1"
  title="Add a readme to the repository">
  <div class="layout-1x1">
    <div class="layout-left">
      <ul>
        <li>Create your first file in the git repo</li>
        <li>Stage the new file with <code>git add</code></li>
        <li>Commit that file</li>
        <li>TBD: Explain Unstaged vs. Staged</li>
      </ul>
    </div>

    <div class="layout-right">
      <tty></tty>
    </div>
  </div>
</slide>

<slide
  order="7"
  scale="1"
  title="Writing a commit message">
  <div class="layout-1">
    <div class="layout-center">
      <pre>Short description in imperative - 70 columns max width ---------------

Long description ------- 80 chars wide -----------------------------------------
# Please enter the commit message for your changes. Lines starting
# with '#' will be ignored, and an empty message aborts the commit.
# On branch master
#
# Initial commit
#
# Changes to be committed:
#	new file:   README.md
#</pre>
    </div>
  </div>
</slide>

<slide
  order="8"
  scale="1"
  title="Commit message for the readme">
  <div class="layout-1">
    <div class="layout-center">
      <tty></tty>
    </div>
  </div>
</slide>

<slide
  order="9"
  scale="1"
  title="Pushing to a remote repository">
  <div class="layout-1x1">
    <div class="layout-left">
      <ul>
        <li>Each remote is also a git repository</li>
        <li>You can use anything as a remote</li>
        <li>Pushing is applying your local changes on the remote repo</li>
      </ul>
    </div>
    <div class="layout-right">
      <tty></tty>
    </div>
  </div>
</slide>

<slide
  order="10"
  scale="1"
  title="Cloning an existing repository">
  <div class="layout-2">
    <div class="layout-center-top">
      <p>
        Cloning means receiving an identical copy of the remote repository
      </p>

      <pre>$ git clone https://github.com/octocat/Hello-World.git
$ git clone https://github.com/octocat/Hello-World.git -b test Hello-World-test</pre>
    </div>
    <div class="layout-center-bottom">
      <tty></tty>
    </div>
  </div>
</slide>

<slide
  order="11"
  scale="1"
  title="TTY">
  <tty></tty>
</slide>

<!--
     * [1] Add gitignore slide
     * [3] branches / tags
     * [6] merge vs. rebase / workflows
     * [2] checkout/revert/reset/clean
     * [2] rewriting history
     * [?] cherry picking

     rebase: http://jsfiddle.net/fin_ger/74ef9g15/11/
     merge: http://jsfiddle.net/fin_ger/aLbzdgzL/1/

  centralized workflow:
   - one master branch
   - small team sizes
   - rebase
   - linear history

  feature branching:
   - feature development on dedicated branch
   - not disturbing the main code base
   - master should not contain broken code

  forking workflow:
   - each developer has a local and a remote repository

  gitflow workflow:
   - large projects with scheduled release cycles
   - master, hotfix, develop, feature, release
-->
