<chapter>
  <slide
    title="">
    <div class="layout-1x1">
      <div class="layout-left">
        <h2>An interactive introduction<br>to Git</h2>
        <h3>
          Fin Christensen
          <br>
          Willy Failla
          <br>
          Martin Koppehel
          <br>
          Johann Wagner
          <br>
          Johannes Wünsche
        </h3>
      </div>

      <div class="layout-right" style="align-self: center;">
        <img src="assets/Git-logo.svg">
      </div>
    </div>
  </slide>

  <slide title="Agenda">
    TBD
    <ul>
      <li>Introduction</li>
      <li>Basics</li>
      <li>Working locally</li>
      <li>Working remotely</li>
      <li>Working in teams</li>
          <ul>
            <li>Workflows</li>
          </ul>
    </ul>
    <!--<history [setup]="agenda"></history>-->
  </slide>
</chapter>

<chapter title="Introduction">
  <slide
    title="Introduction: Why version control?">
    <div class="layout-1">
      <img class="layout-center" src="./assets/version-control.svg">
    </div>
  </slide>

  <slide
    title="Introduction: Git">
    <div class="layout-1x1">
      <div class="layout-left">
        <ul>
          <li>Git is a program, not a platform</li>
          <li>Git and GitHub or GitLab are not the same thing</li>
        </ul>
        <div style="text-align: center; margin-top: 1em;">
          <img height="350" src="assets/github-gitlab.png">
        </div>
      </div>
      <div class="layout-right" style="text-align: center;">
        <img height="600" src="assets/git_2x.png">
      </div>
    </div>
  </slide>
</chapter>

<chapter title="Basics">
  <slide
    title="Basics: What makes Git unique?">
    <div class="layout-1x1">
      <div class="layout-left">
        <ul>
          <li>Git is <b>fully</b> decentralized</li>
          <li>Git has cheap branching</li>
          <li>Git allows for multiple workflows</li>
          <li>Git can be used for <b>all</b> project sizes</li>
          <li>Git is FOSS</li>
        </ul>
      </div>
    </div>
  </slide>

  <slide
    title="Basics: Git Concepts">
    <div class="layout-1x1">
      <div class="layout-left">
        <ul>
          <li>Git knows 4 concepts:</li>
          <ul>
            <li>Repositories</li>
            <li>Commits</li>
            <li>Branches</li>
            <li>Tags</li>
          </ul>
          <li>So, let's look at these concepts</li>
        </ul>
      </div>
    </div>
  </slide>

  <slide
    title="Basics: What is a repository?">
    <div class="layout-1x1">
      <div class="layout-left">
        <ul>
          <li>Git projects are hold in <code>repositories</code></li>
          <li>A Git repository holds all the history of the project</li>
          <li>History is hold in the <code>.git</code> folder in your project root</li>
        </ul>
      </div>

      <div class="layout-right" style="text-align: center;">
        <img height="300" src="assets/git-project-layout.svg">
      </div>
    </div>
  </slide>

  <slide
    title="Basics: What is a commit?">
    <div class="layout-1">
      <div class="layout-center">
        <ul>
          <li>A commit is the smallest atom Git knows</li>
          <li>A commit contains a set of changes to files</li>
          <li>Additionally, it contains some metadata used by Git and Humans</li>
          <ul>
            <li>Commit-Hash (Identifier)</li>
            <li>Author</li>
            <li>Timestamp</li>
            <li>Parent Commit(s)</li>
            <li>Description (optional)</li>
          </ul>
        </ul>
      </div>
    </div>
  </slide>

  <slide
    title="Basics: What is a commit? (Example)">
    <div class="layout-1">
      <div class="layout-center" style="text-align: center;">
        <img height="650" src="assets/diff.png">
      </div>
    </div>
  </slide>

  <slide
    title="Basics: Building history">
    <div class="layout-2">
      <div class="layout-top">
          <ul>
            <li>A commit and its parents define the state of your project at a specific version</li>
            <li>When doing multiple commits with the same parent, it looks like this:</li>
          </ul>
      </div>
      <div class="layout-bottom" style="text-align: center;">
        <img height="300" src="assets/git-branches.svg">
      </div>
    </div>
  </slide>

  <slide
    title="Basics: What is a branch?">
    <div class="layout-1x1">
      <div class="layout-left">
        <ul>
          <li>It is inconvenient to memorize commit hashes manually</li>
          <li>A branch is basically a <b>name</b> identifying a specific point of your commit graph</li>
          <li>Branches track when commits are added onto their name</li>
          <li>Default branch: <code>master</code></li>
        </ul>
      </div>

      <div class="layout-right" style="text-align: center;">
        <img height="600" src="assets/git-branches-names.svg">
      </div>
    </div>
  </slide>

  <slide
    title="Basics: What is a tag?">
    <div class="layout-1x1">
      <div class="layout-left">
        <ul>
          <li>Commits can be marked with a <code>tag</code></li>
          <li>A tag is an unique identifier pointing on a commit</li>
          <li>A tag consists of a name and a message</li>
        </ul>
      </div>

      <div class="layout-right">
        <history [setup]="whatIsATag">
        </history>
      </div>
    </div>
  </slide>

  <slide
    title="Basics: Summing it Up">
    <div class="layout-1">
      <div class="layout-center">
        <ul>
          <li>A repository is made up of commits, branches and tags</li>
          <li><b>Commits</b> contain changes</li>
          <li>Branches are names for commit series</li>
          <li>Tags are specific points in your history</li>
        </ul>
      </div>
    </div>
  </slide>
</chapter>

<chapter title="Local" subtitle="Working with your own repository">
  <slide
    title="Local: Let's start">
    <div class="layout-1x1">
      <div class="layout-left">
        <p><b>Get your laptops!</b></p>
        <p>
          Open <a href="https://workshop.pattig.rocks">https://workshop.pattig.rocks</a> in your web-browser!
        </p>
        <p>
          This will open up a terminal with all tools pre-installed!
        </p>
      </div>

      <div class="layout-right" style="text-align: center; align-self: center;">
        <img height="500" src="assets/workshop-site.png">
      </div>
    </div>
  </slide>

  <slide
    title="Local: Tell Git who you are">
    <div class="layout-2">
      <div class="layout-center-top">
        Configure your environment!
        <pre>$ git config --global user.name "name"
$ git config --global user.email "email"
$ git config --global core.editor nano</pre>

        <div>
          Installed editors: <code>vim</code>, <code>emacs</code>, <code>nano</code>
        </div>
      </div>
      <div class="layout-center-bottom">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Local: Let's use git">
    <div class="layout-1x1">
      <div class="layout-left">
        <div>
          Create a new Git repository
        </div>
        <pre>$ git init my-project</pre>
        <div>
          And <code>cd</code> into it
          <pre>$ cd my-project</pre>
        </div>
      </div>
      <div class="layout-right">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Local: Work on your project">
    <div class="layout-1x1">
      <div class="layout-left">
        <ul>
          <li>Add a <code>README.md</code> to the Git repo</li>
          <li>Stage the new file with <code>git add</code></li>
          <ul>
            <li>Staged files are files that are marked for commit</li>
          </ul>
        </ul>
        <pre>$ nano README.md
$ git status
$ git add README.md</pre>
      </div>

      <div class="layout-right">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Local: Staging area">
    <div class="layout-1">
      <div class="layout-center" style="display: flex; flex-flow: column nowrap; align-items: center">
        <img height="670" src="assets/staging.svg">
      </div>
    </div>
  </slide>

  <slide
    title="Local: Now tell other people what you did">
    <div class="layout-1">
      <div class="layout-center">
        <pre>Short description in imperative - 70 columns max width ---------------

Long description ------- 80 chars wide -----------------------------------------
# Please enter the commit message for your changes. Lines starting
# with '#' will be ignored, and an empty message aborts the commit.
# On branch master
#
# Initial commit
#
# Changes to be committed:
#	new file:   README.md
#</pre>
      </div>
    </div>
  </slide>

  <slide
    title="Local: Let's do it together!">
    <div class="layout-1">
      <div class="layout-center">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Local: How can I stage all files at once?">
    <div class="layout-1x1">
      <div class="layout-left">
        <pre>$ git add -A</pre>
        Will add all unstaged files to the staging area.
      </div>

      <div class="layout-right">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Local: But I don't want all the files in git!">
    <div class="layout-2">
      <div class="layout-center-top">
        There is magic for that! A file called <code>.gitignore</code>
        <pre>./just?use*bash{{'{'}}globs,here{{'}'}}</pre>
      </div>
      <div class="layout-center-bottom">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Local: Going further">
    <div class="layout-1">
        <ul class="layout-center">
          <li>You rarely work alone!</li>
          <li>To collaborate with others, a <b>remote</b> is needed.</li>
        </ul>
    </div>
  </slide>
</chapter>

<chapter title="Remote" subtitle="Working with a remote repository">
  <slide
    title="Remote: Publishing your changes">
    <div class="layout-1">
      <div class="layout-center" style="text-align: center;">
        <img width="1400" src="assets/remote-comic.svg">
      </div>
    </div>
  </slide>

  <slide
    title="Remote: What is a remote?">
    <div class="layout-1x1">
      <div class="layout-left">
        <ul>
          <li>Another Git repository on the same or another computer</li>
          <li>Basically a full copy of your code (a peer)</li>
          <li>A connection to another git repository</li>
          <li>Synchronize your changes with other repositories</li>
          <li>No central server required (though often used)</li>
        </ul>
      </div>

      <div class="layout-right" style="text-align: center;">
        <img src="assets/remote.svg">
      </div>
    </div>
  </slide>

  <slide
    title="Remote: Viewing the state of your repository with tig">
    <div class="layout-1">
      <div class="layout-center">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Remote: Adding a remote to your local repository">
    <div class="layout-2">
      <div class="layout-top">
        <pre>
$ git remote add origin ~/.remote # add the remote
$ git remote -v                   # list all remotes and their locations
</pre>
      </div>

      <div class="layout-bottom">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Remote: Pushing your changes to a remote">
    <div class="layout-2">
      <div class="layout-top"><pre>
$ git push REMOTE LOCAL_BRANCH:REMOTE_BRANCH      # explicit syntax
$ git push origin master:master                   # sample usage
</pre>
      </div>

      <div class="layout-bottom">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
  title="Remote: Pushing made easy">
    <div class="layout-2">
      <div class="layout-top">
        <pre>
$ git branch --set-upstream-to REMOTE/REMOTE_BRANCH  # set a tracking branch
$ git branch -r                                     # show tracking branches
$ git push                                # push to the preconfigured remote</pre>
      </div>

      <div class="layout-bottom">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Remote: Getting the content that is on a remote">
    <div class="layout-2">
      <div class="layout-top">
        <li>This will <b>not</b> update any local branch!</li>
        <pre>
$ cd ~/example-100
$ git fetch origin
</pre>
      </div>
      <div class="layout-bottom">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Remote: Viewing the changes of the remote">
    <div class="layout-1">
      <div class="layout-center">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Remote: How to get remote changes to your local files">
    <div class="layout-1">
      <div class="layout-center">
        <ul>
          <li>It depends!</li>
          <li>Two strategies: <b>rebase</b> and <b>merge</b></li>
          <li>When in doubt: prefer rebase as it yields cleaner histories</li>
        </ul>
      </div>
    </div>
  </slide>

  <slide
    title="Remote: How a merge works">
    <history [setup]="howAMergeWorks"></history>
  </slide>

  <slide
    title="Remote: How a rebase works">
    <div class="layout-1">
      <div class="layout-center" style="text-align: center;">
        <img height="650" src="assets/rebase.svg">
      </div>
    </div>
  </slide>

  <slide
    title="Remote: Updating without local changes (rebase)">
    <div class="layout-2">
      <div class="layout-top">
        <pre>
$ cd ~/example-100
$ git fetch
$ git rebase
</pre>
      </div>

      <div class="layout-bottom">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Remote: Updating with new files (rebase)">
    <div class="layout-2">
      <div class="layout-top">
        <pre>
$ cd ~/example-101
$ git fetch
$ git rebase
</pre>
      </div>

      <div class="layout-bottom">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Remote: Updating with local changes (rebase)">
    <div class="layout-2">
      <div class="layout-top">
        <li>You have to handle the conflicts by yourself!</li>
        <pre>
$ cd ~/example-102
$ git fetch
$ git rebase origin/master
</pre>
      </div>

      <div class="layout-bottom">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Remote: Updating with local changes (rebase)">
    <div class="layout-1">
      <div class="layout-center">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
    title="Remote: Cloning an existing repository">
    <div class="layout-2">
      <div class="layout-center-top">
        <li>Cloning means receiving an identical copy of the remote repository</li>
        <li><code>git clone</code> will setup remotes and tracking branches for you</li>
        <pre>$ git clone https://github.com/octocat/Hello-World.git
$ git clone https://github.com/octocat/Hello-World.git -b test Hello-World-test</pre>
      </div>
      <div class="layout-center-bottom">
        <tty></tty>
      </div>
    </div>
  </slide>

  <slide
  title="Remote: Coordinating your work">
  <div class="layout-1">
    <div class="layout-center">
      <ul>
        <li>Working with remotes doesn't mean working with others!</li>
        <li>Working in a team requires special caution!</li>
        <li>Teams require workflows.</li>
      </ul>
    </div>
  </div>
</slide>
</chapter>

<chapter title="Teams" subtitle="Working with a team">
  <slide
    title="Teams: Ok, and how do I use these branches and tags now?">
    <div class="layout-2">
      <div class="layout-top">
        <ul>
          <li>How do I use branches in my workflow?</li>
          <li>Let's see what else you can do with branches!</li>
        </ul>
      </div>

      <div class="layout-bottom">
        <img src="assets/git-merge-rebase.svg">
      </div>
    </div>
  </slide>

  <slide
    title="Teams: Why Workflows">

    <div class="layout-2">
      <div class="layout-top">
        <li>Antipattern time!</li>
        <li>Never use <code>--force</code> unless you <b>really</b> know what you're doing!</li>
      </div>
      <div class="layout-bottom">
<pre>
$ git add -A
$ git commit -m "Done some important work(not tested)"
$ git push --force
</pre>
      </div>
    </div>
  </slide>

  <slide
    title="Teams: Literally 5 minutes later">
    <div class="layout-center" style="text-align: center">
      <img src="../../assets/workflow_burning.png">
    </div>
  </slide>

  <slide
    title="Teams: Centralized Workflow">
    <div class="layout-left">
      <div style="text-align: center">
        <history [setup]="central"></history>
      </div>
    </div>
    <div class="layout-right">
      <ul>
        <li>One branch</li>
        <li>Every commit lands directly on master</li>
      </ul>
    </div>
  </slide>

  <slide
    title="Teams: Workflows">
    <div class="layout-center">
      So what if you want to introduce a new awesome feature? <br>
      Well simple! Push it to the remote!
    </div>
  </slide>

  <slide
    title="Teams: Workflows">
    <div class="layout-center-top">
      <pre>
Updates were rejected because the remote contains work that you do
not have locally. This is usually caused by another repository pushing
to the same ref</pre>
      <div class="layout-center-bottom" style="text-align: center">
        <img src="../../assets/workflow_denied.png">
      </div>
    </div>
  </slide>

  <slide
    title="Teams: Topic Branches">
    Solution? Create branches for new features!
    <history [setup]="topicBranches"></history>
  </slide>

  <slide
    title="Teams: GitFlow Workflow">
    <history [setup]="gitFlowWorkflow"></history>
  </slide>

  <slide
    title="Teams: GitFlow Workflow Example">
    <div class="layout-1">
      <tty></tty>
    </div>
  </slide>
  <slide
    title="Teams: Forking Workflow">
    <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
    <ul>
      <li>Done on platforms like gitlab or github</li>
      <li>Allows to create an own copy of another repository</li>
      <li>New repository will be equal to the original repo at the moment of the fork</li>
      <li>More of a Meta-Workflow since a new repo is created which can have it's own workflow</li>
    </ul>
    <br>
    <ul>
      <li>Widely used for cooperation between individual developers</li>
      <li>Works best when using multiple remotes</li>
    </ul>
  </slide>

  <slide
    title="Teams: Pull requests">
    <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
    <div class="layout-center-bottom">
      <img src="../../assets/pull.png">
    </div>
    Provide a way to include the changes done in your own fork into another repository <br><br>
    Similar to merge requests but for forks
  </slide>
</chapter>


<chapter title="Thanks" subtitle="Q/A Time!">
</chapter>
